body {
  padding: 0;
  margin: 0;
}
textarea {
}
.CodeMirror:first-of-type {
}
.CodeMirror:last-of-type {
}
.CodeMirror {
  font-family: Menlo, Monaco, Inconsolata, monospace;
  font-size: 15px;
  line-height: 1.4;
  float: left;
  width: 33.33333%;
  box-sizing: border-box;
  height: 100%;
}
.CodeMirror-linenumber {
  color: #444 !important;
}
.try {
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 50px;
  border-top: 1px solid #eee;
}
.logo {
  margin-top: 10px;
  margin-left: 10px;
}
#run {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 30px;
  background-color: #FF9494;
  color: #fff;
  border: 0;
  border-radius: 15px;
  outline: 0;
  cursor: pointer;
}
#run:active {
  opacity: 0.7; 
}

#console + .CodeMirror {
  position: absolute;
  width: 100%;
  float: none;
  height: 350px;
  z-index: 10;
  bottom: -350px;
  border-top: 5px solid #ff9494;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
#console.active + .CodeMirror {
  bottom: 0;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
