body {
  padding: 0;
  margin: 0;
}
.CodeMirror:first-of-type {
}
.CodeMirror:last-of-type {
}
.CodeMirror {
  font-family: Menlo, Monaco, Inconsolata, monospace;
  font-size: 15px;
  line-height: 1.4;
  float: left;
  width: 33.33333%;
  box-sizing: border-box;
  height: 100%;
}
.CodeMirror-linenumber {
  color: #444 !important;
}
.try {
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 50px;
  border-top: 1px solid #eee;
}
.logo {
  margin-top: 10px;
  margin-left: 10px;
}
